pool:
  vmImage: 'Ubuntu 16.04'

steps:
- script: |
    sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 379CE192D401AB61
    echo "deb https://dl.bintray.com/loadimpact/deb stable main" | sudo tee -a /etc/apt/sources.list
    sudo apt-get update
    sudo apt-get install k6
  displayName: Install k6 tool

- script: |
    k6 version
  displayName: Check if k6 is installed

- script: |
    k6 run loadtests/main.js
  displayName: Run k6 load test within Azure Pipelines

- script: |
    k6 login cloud --token $(K6CLOUD_TOKEN)
    k6 cloud --quiet loadtests/main.js
